*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', arial;
}

nav{
	height: 120px;
	padding: 2% 0;
	background: rgba(68, 67, 62, 0.6);
	z-index: 99;
}
nav ul{
	line-height: 60px;
}
nav li{
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;

}
header a{
	color:#b2b2b2;
}
.logo a{
	color:#fff;
	font-size: 25px;
}
.logo a:hover{
	text-decoration: none;
	color:#fff;
}
.logo img{
	margin-right: 10px;
}
.logo span{
	color:#18cfab;
	font-weight: bolder;
}
nav a:hover{
	color:#b2b2b2;
	text-decoration: none;
	border-bottom: 1px solid #18cfab;
}
header a.active{
	color:#18cfab;
	border-bottom: 1px solid #18cfab;
}

header{
	background: url(../img/headerbg.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	min-height: 110vh;
}

header .txt{
	text-align: center;
	margin-top: 20vh;
}
.txt {
	color:white;
}
.txt p{
	margin-top: -30px;
}
.txt span{
	color:#18cfab;
}
.txt .frst{
	font-size: 35px;
}
.txt .big{
	font-size: 75px;
	font-weight: bolder;
}
.txt .little{
	font-size: 25px;
	font-style: inherit;
	color:#d4d4d4;
}

.txt button{
	width: 165px;
	height: 65px;
	border:none;
	border-top:5px solid #fff;
	border-radius: 5px;
	margin-top: 50px;
	margin-left: 50px;
}
.txt .rig{
	background: #18cfab;
}
.txt  .left{
	background: #00cbf6;
}
.option{
	min-height: 350px;
}
.options{
	min-height: 350px;
	text-align: center;

}
.options img{
	height: 100px;
	max-width: 100%;
	margin-top: 80px;
}
.option .dark{
	background: #1c2a33;
	border-top: 5px solid #18cfab;
}
.option .light{
	background: #18cfab;
	border-top: 5px solid #fff;
}
.option .dark h3{
	color:#18cfab;
}
.option .light h3{
	color:#fff;
}


.features{

}
.features h2{
	margin-bottom: 50px;
}
h2{
	text-align: center;
	margin-top: 50px;
	position: relative;
	margin-bottom: 70px;
}
h2:after{
	content: "";
	display: block;
	background: url(../img/copy.png) no-repeat;
	width: 5%;
	height: 20px;
	position: absolute;
	left: 47%;
	top:50px;
}
.features h4{
	font-weight: bold;
}
.features h4:hover{
	color:#18cfab;
	transition: 0.5s all;
	cursor:pointer;
}
.features h4 i{
	font-size: 30px;
	color: #18cfab;
	margin-right: 20px;
}
.features p{
	font-weight: lighter;
}
.nrw{
	margin-bottom: 70px;
}

.about{
	min-height: 500px;
	background: url(../img/iphone.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.about h2{
	color:white;
	margin-top: 50px;
	position: relative;
	margin-bottom: 70px;
	text-align: left;
}
.about h2:after{
	content: "";
	display: block;
	background: url(../img/copy.png) no-repeat;
	width: 9%;
	height: 20px;
	position: absolute;
	left: 20%;
	top:50px;
}
/* Базовый контейнер табов */
.tabs {
	margin-top: 70px;
	margin-left: 50px;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	border: none;
	color: white;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: white;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: white;
}
.tabs>label:hover {
	color: white;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: white;
	border-top: 1px solid #18cfab;
	color:#18cfab;
	
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 .tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
.tabs>label[for*="1"]:before {
	content: "\f19a";
}
.tabs>label[for*="2"]:before {
	content: "\f17a";
}
.tabs>label[for*="3"]:before {
	content: "\f13b";
}
.tabs>label[for*="4"]:before {
	content: "\f13c";
}
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}

.about li{
	list-style-type: none;
	width: 400px;
	border-radius: 10px;
	padding: 5px 15px;
	border: 1px solid #18cfab;
	margin-bottom: 10px;
	text-align: left;
}
.about li .first{
	border-radius: 10px;
	width: 200px;
	background: #9c5da5;
	margin-left: -15px;
	padding: 7px 15px 7px 100px;
}
.about li .second{
	border-radius: 10px;
	width: 200px;
	background: #11b0de;
	margin-left: -15px;
	padding: 7px 15px 7px 150px;
}
.about li .three{
	border-radius: 10px;
	width: 200px;
	background: #d67f7f;
	margin-left: -15px;
	padding: 7px 15px 7px 200px;
}
.about li .four{
	border-radius: 10px;
	width: 200px;
	background: #20bc9d;
	margin-left: -15px;
	padding: 7px 15px 7px 250px;
}
.about li .five{
	border-radius: 10px;
	width: 200px;
	background: #bb8a36;
	margin-left: -15px;
	padding: 7px 15px 7px 100px;
}
.work{
	background: #f8fcfe;
	margin-top: -25px;
	border-bottom: 1px solid #e1e1e1;
}
.work h2{	
	margin-bottom: 70px;
	padding-top: 50px;
}
.work h2:after{
	top:100px;
}
.imgwr {
	margin:0 5% 0 5%;
}
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  width: 200px;
  color: #ffffff;
  font-size: 12px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
  font-size: 12px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #18cfab;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.work button{
	width: 160px;
	height: 60px;
	background: #18cfab;
	border:none;
	font-size: 14px;
	color:white;
	margin-left: 40%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.service{
	min-height: 400px;
}
.service h2{
	margin-bottom: 75px;
}
/* базовый контейнер вкладок */
.tabs_block {
    width: 100%;
    margin: 0 auto;
}
.tabs_block:after {
    content:"";
    display:block;
    clear:both;
}
/* панель навигации вкладок */
.tabsi {
    margin: 0;
    padding: 0;
    list-style: none;
    float:left;
}
/* список вкладок */
.tabsi li {
    text-align:center;
    float:left;
    padding:8px 15px;
    background:#f8fcfe;
    margin-right:1px;
    cursor:pointer;
    color:#000;
    -webkit-transition:all .2s linear 0s;
    -webkit-transition-delay:.2s 0s;
    transition:all .2s linear 0s;
    position: relative;
}
/* активная вкладка */
.tabsi li.active {
    background:#18cfab;
    color:#4F5559; 
}
.tabsi li.active:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #18cfab;
	position: absolute;
	bottom: -10px;
	left: 40%;
}
/* блоки вкладок с содержанием */
.box {
    background:#fdfdfd;
    width:96%;
    padding:5px 2% 6px;
    display:none;
    text-align: left;
    float: left;
    margin-top: 30px;
}
/* параграф внутри вкладок */
.box p {
    margin-bottom: 15px;
}
/* активный блок при загрузке */
.visible, .open_tab {
    display: block;
}
/* картинки внутри вкладок */
.box img {
    width: 120px;
    height: auto;
}
/* картинки слева */
.pl-left {
    float:left;
    margin:5px 15px 5px 0;
}
/* картинки справа */
.pl-right {
    float:right;
    margin:5px 0 5px 15px;
}
/* убираем выравнивание на маленьких экранах */
@media (max-width: 300px) {
  .tabs, .tabs li {
   float: none;
  }
}

.purchase{
	text-align: center;
	min-height: 480px;
	background: url(../img/bg3.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: -1;
}
.purchase h3{
	padding-top: 150px;
	font-size: 40px;
	color:#18cfab;
	font-weight: bolder;
	text-align: center;
}
.purchase  p{
	color: #fff;
	text-align: center;
}
.purchase button{
	width: 165px;
	height: 65px;
	border:none;
	border-top:5px solid #fff;
	border-radius: 5px;
	margin-top: 50px;
	background: #18cfab;
}

.news{
	min-height: 900px;
}
.news h2{
	margin-bottom: 75px;
}

.news img{
	width: 265px;
	height: 255px;
}
.news-card{
	position: relative;
}
.date{
	position: absolute;
	right: 5px;
	text-align: center;
	width: 45px;
	height: 45px;
	background: #203e38;
	color:white;
}
.news .ner{
	margin-top: 50px;
}

.news-card:hover{
	color:#18cfab;
	transition: 1s all;
}
.news-card:hover .date{
	background:#18cfab;
	transition: 1s all;
}


.fact{
	min-height: 400px;
}
.card-fact-dark{
	background: #25333c;
	height: 375px;
	text-align: center;
	border-top:5px solid #18cfab;
}
.card-fact-light{
	background: #18cfab;
	height: 375px;
	text-align: center;
	border-top:5px solid #25333c;
}
.fact img{
	margin-top: 50px;
	max-width: 100%;
}
.num{
	font-size: 25px;
	color:white;
	margin-top: 30px;
}
 .card-fact-dark p{
	color: #18cfab;
 }
 .card-fact-light p{
 	color: #25333c;
 }

.pricing{
	height: 930px;
}
.pricing h2{
	margin-bottom: 50px;
}
.tovar-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	justify-content:center;

}
.tovar{
	border: 1px solid grey;
	flex-basis:270px;
	text-align: center;
	height: 700px;
}
.offe{
	box-shadow: 0 0 5px 2px #18cfab;
}
.tovar h4{
	font-weight: 900;
	text-transform: uppercase;
	color: #717171;
	padding:5px 0;
}
.cost{
	height: 105px;
	background: #2e4a5b;
	font-size: 40px;
	line-height: 105px;
	color:white;
}
.cost span{
	font-size: 14px;
}
.tovar li{
	font-size: 14px;
	color:black;
	line-height: 50px;
	list-style: none;
	border-top: 1px solid grey;
}
.tovar button{
	width: 165px;
	height: 65px;
	line-height: 65px;
	font-size: 25px;
	background: #2e4a5b;
	border: none;
}
.offer{
	position: relative;
	color: #18cfab !important;
}
.offer:after{
	content: "";
	display: block;
	background: url(../img/offer.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 60px;
	height: 50px;
	position: absolute;
	right: 0px;
	top:-10px;
}
.cost-off{
	background: #18cfab;
}
.offbut{
	background: #18cfab !important;
}

.people{
	background: #2e404d;
	height: 650px;
}
.people h2{
	color:white;
	padding-top: 50px;
	margin-bottom: 100px;
}
.people h2:after{
	top:100px;
}
.item{
	text-align: center;
	padding:0 20%;
	color:white;
}
.item .name{
	margin-bottom: 30px;
}
.item img{
	margin-bottom: 50px;
	
}

.item .peop{
	width: 135px;
	height: 125px;
	border-radius: 50%;
	border:2px solid #18cfab;
	-webkit-box-shadow: -2px 0px 54px 5px rgba(24,207,171,0.86);
	-moz-box-shadow: -2px 0px 54px 5px rgba(24,207,171,0.86);
	box-shadow: -2px 0px 54px 5px rgba(24,207,171,0.86);
}
.owl-pagination{
	display: none;
}
.owl-next{
	background: none !important;
	color: #18cfab !important; 
	position: absolute;
	font-size: 30px!important;
	top:200px;
	right: 40%;
}
.owl-prev{
	background: none !important;
	color: #18cfab !important; 
	position: absolute;
	font-size: 30px!important;
	top:200px;
	left: 40%;
}

.meet{
	min-height: 540px;
}
.meet h2{
	margin-bottom: 100px;
}
.meet img{
	width: 245px;
	height: 225px;
}
.meet .nams{
	height: 75px;
	background: #2e4a5b;
	line-height: 75px;
	text-align: center;
	font-size: 15px;
	color:white;
}
.meet li{
	display: inline-block;
	width: 60px;
	text-align: center;
	font-size: 25px;
	color:#fff;
	border-right: 1px solid white;
}
.meet li:hover{
	background: #18cfab;
}
.meet  ul{
	background: #2e4a5b;
	border-top:1px solid white;
}
.meet .last{
	border-right: none;
}
.cards:hover .nams{
	background: #18cfab;
	transition:0.5s all;
}


.theham{
	min-height: 675px;
	background: url(../img/mounbg.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.theham h3{
	text-align: center;
	font-size: 39px;
	color:white;
	padding-top: 50px;
	text-transform: uppercase;
}
.theham  p{
	color: #18cfab;
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
}
.theham img{
	width: 600px;
	margin-left: 10%;
}
.theham  ul{
	margin-top: 120px;
}
.theham li{
	font-size: 20px;
	color: white;
	list-style: none;
}
.theham li i{
	margin-right: 30px;
	color: #18cfab;
	font-size: 22px;
}
.theham  button{
	width: 165px;
	height: 50px;
	border-radius: 5px;
	border:none;
	border-top: 3px solid white;
	background: #18cfab;
	margin-top: 40px;
	margin-left: 40px;
}


.touch{
	text-align: center;
	padding-bottom: 50px;
}
.touch h2{
	margin-bottom: 100px;
}
.touch input{
	width: 40%;
	padding: 10px 5px;
	font-size: 20px;
	margin-top: 10px;
}
.touch button{
	width: 40%;
	padding: 10px 5px;
	font-size: 20px;
	background: #18cfab;
	color: #fff;
	border-radius: 5px;
	border:none;
	margin-top: 25px;
}

footer{
	background: #3d4c64;
	padding-top: 50px;
	padding-bottom: 50px;
	color:white;
}
footer .ham{
	font-weight: bolder;
	font-size: 30px;
}
footer span{
	color: #18cfab;
}