$mn-color: #fd5433;

@font-face{

	font-family: 'bebas';

	src: url("bebas/BebasNeue Regular.otf");
}

header{
	height: 110px;
	line-height: 110px;
	font-family: bebas;

		nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content:space-between;

			a{
				font-size: 70px;
				color:#000;
				span{
					color:#fd5433;
				}
				&:hover{
					text-decoration: none;
					color:#000;
				}
			}

			li{
				display: inline-block;
				font-size: 17px;
				padding: 0 15px;
					.act{
						background: #fd5433;
					}
			}
		}
}

#home{
	height: 600px;
	background: url(img/paral.jpg) center 0 repeat fixed; 
	min-height: 600px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:center;
	justify-content:center;
	font-family: bebas;
	flex-direction:column;
		h2{
			font-family: bebas;
			font-size: 120px;
			color:white;
		}
		button{
			background: #fd5433;
			border:none;
			width: 280px;
			height: 65px;
			padding: 7px 0;
			color:white;
			font-size: 32px;
		}
}

.services{
	min-height: 600px;
	font-family: bebas;


		h3{
			text-align: center;
			color:#fd5433;
			margin-bottom: 70px;
			font-weight: bold
		}
		.ser-wrap{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content:space-around;
			border-top: 1px solid;
			border-bottom: 1px solid;
				
				img{
					margin-top: 50px;
				}

				.bran{
					flex-basis: 380px;
					text-align: center;
				}
				h5{
					font-size: 30px;
					font-weight: bold;
					margin-bottom: 25px;
				}
				p{
					margin-bottom: 70px;
					font-style: italic;
					font-size: 15px;
				}

		}
}

.port{
	min-height: 600px;
	font-family: bebas;


		h3{
			text-align: center;
			color:#fd5433;
			margin-bottom: 70px;
			font-weight: bold;
		}
		#owl-demo {
			.item{
			  width: 280px;
			  	img{
			  		max-width: 280px;
			  		height: 240px;
			  	}
			}
			span{
				display: none;
			}

		}

		#owl-demo2 {
			margin-top: -30px;
			.item{
			  width: 280px;
			  	img{
			  		max-width: 280px;
			  		height: 240px;
			  	}
			}
			span{
				display: none;
			}

		}
}

.about{
	min-height: 600px;
	font-family: bebas;

		h3{
			text-align: center;
			color:#fd5433;
			margin-bottom: 70px;
			font-weight: bold;
		}
		.accordion{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content:space-around;
				.fle{
					text-align: center;
				}
				.content{
					text-align: center;
					background:$mn-color;
					height: 200px;
					h5{
						margin-top: 25px;
						padding-top: 45px;
						position: relative;
						font-size: 25px;
						&:before{
							content:"";
							width: 0;
							height: 0;
							border-left: 20px solid transparent;
							border-right: 20px solid transparent;
							border-top: 30px solid white;;
							position: absolute;
							top:0;
							left:47%;
						}
					}
					p{
						padding:0 15px;
						color:white;
					} 
				}
		}
	
}

.contact{
	min-height: 570px;
	font-family: bebas;
	text-align: center;

		h3{
			text-align: center;
			color:#fd5433;
			margin-bottom: 70px;
			font-weight: bold;
		}
		.parat{
			height: 570px;
			background: url(img/BG.jpg) center 0 no-repeat fixed;
			background-size: 100% 100%;
		}
		input[type="text"] {
		   border: 1px solid #cccccc; //цвет рамки
		   border-radius: 3px; //закругление углов (общее)
		   -webkit-border-radius: 3px; //закругление углов (Google Chrome)
		   -moz-border-radius: 3px; //закругление углов (FireFox)
		   -khtml-border-radius: 3px; //закругление углов (Safari)
		   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
		   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
		   color: $mn-color; //цвет шрифта в обычном состоянии
		   font-size: 15px; // Размер шрифта
		   width: 30%;
		   padding:7px;
		   margin-left: 30px;
		   &:focus {
			  color: $mn-color;
			  border: 1px solid #000000
			}
		}
		#inp{
			width: 63%;
			margin-top: 20px;
			height: 200px;
		}
		form{
			margin-top: 5%;
		}
		button{
			background: $mn-color;
			border:none;
			width: 63%;
			margin-left: 30px;
			color:white;
			font-size: 20px;
		}
}

