html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

header {
  padding-top: 40px;
  background: #f5f5f5;
  height: 820px;
  font-family: 'Open Sans', sans-serif; }
  header a {
    border: 2px solid black;
    color: #ff5c36;
    font-size: 35px;
    padding: 5px 10px;
    font-weight: 600; }
    header a:hover {
      text-decoration: none;
      color: #ff5c36; }
    header a span {
      color: #797979; }
  header .text {
    text-align: center;
    margin-top: 120px;
    position: relative; }
    header .text h2 {
      color: #797979;
      font-size: 58px; }
      header .text h2 span {
        color: #ff5c36; }
    header .text p {
      font-size: 12px;
      padding-top: 20px;
      color: grey;
      margin-top: -20px; }
    header .text .form-wrapp {
      position: absolute;
      max-width: 375px;
      min-height: 380px;
      background: white;
      text-align: center;
      top: 150%;
      left: 30%; }
      header .text .form-wrapp h2 {
        color: #797979;
        font-size: 27px;
        padding-top: 15px; }
        header .text .form-wrapp h2 span {
          color: #ff5c36; }
      header .text .form-wrapp input {
        margin-top: 25px;
        padding: 5px;
        border: none;
        border-bottom: 1px solid grey; }
      header .text .form-wrapp .comment {
        padding-bottom: 35px; }
      header .text .form-wrapp button {
        background: #ff5c36;
        border: none;
        width: 300px;
        margin-top: 45px;
        height: 50px;
        border-radius: 35px;
        color: white; }

.sector2 {
  text-align: center;
  min-height: 670px; }
  .sector2 h2 {
    margin-top: 100px;
    font-size: 58px;
    color: #797979; }
    .sector2 h2 span {
      color: #ff5c36; }
  .sector2 p {
    font-size: 12px;
    padding-top: 20px;
    color: grey;
    margin-top: -20px; }
  .sector2 .wrapp p {
    color: white; }
  .sector2 .wrapp .w1, .sector2 .wrapp .w2, .sector2 .wrapp .w3, .sector2 .wrapp .w4 {
    margin-top: 115px;
    width: 255px;
    height: 270px;
    color: white;
    position: relative; }
    .sector2 .wrapp .w1 img, .sector2 .wrapp .w2 img, .sector2 .wrapp .w3 img, .sector2 .wrapp .w4 img {
      margin-top: 50px; }
    .sector2 .wrapp .w1:hover button, .sector2 .wrapp .w2:hover button, .sector2 .wrapp .w3:hover button, .sector2 .wrapp .w4:hover button {
      display: block; }
  .sector2 .wrapp .w1 {
    background: #4eb2f7;
    margin-right: 30px; }
    .sector2 .wrapp .w1:hover {
      background: #32a7f8; }
  .sector2 .wrapp .w2 {
    background: #c049f8;
    margin-right: 30px; }
    .sector2 .wrapp .w2:hover {
      background: #ba36f8; }
  .sector2 .wrapp .w3 {
    background: #817eff;
    margin-right: 30px; }
    .sector2 .wrapp .w3:hover {
      background: #7370f9; }
  .sector2 .wrapp .w4 {
    background: #f74770; }
    .sector2 .wrapp .w4:hover {
      background: #f63461; }
  .sector2 .wrapp button {
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: 225px;
    border: none;
    background: white;
    color: black;
    height: 45px;
    border-radius: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none; }

.sector3 {
  min-height: 1500px;
  text-align: center;
  background: #f5f5f5; }
  .sector3 h2 {
    margin-top: 100px;
    font-size: 58px;
    color: #797979; }
    .sector3 h2 span {
      color: #ff5c36; }
  .sector3 p {
    font-size: 12px;
    padding-top: 20px;
    color: grey;
    margin-top: -20px;
    margin-bottom: 100px; }
  .sector3 img {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    border: none;
    position: relative;
    display: block;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color: #000; }
    .sector3 img:hover {
      opacity: 1;
      -moz-opacity: 1;
      filter: alpha(opacity=100) black;
      -khtml-opacity: 1;
      background-color: #000; }

.sector4 {
  min-height: 925px;
  text-align: center; }
  .sector4 h2 {
    margin-top: 100px;
    font-size: 58px;
    color: #797979; }
    .sector4 h2 span {
      color: #ff5c36; }
  .sector4 p {
    font-size: 12px;
    padding-top: 20px;
    color: grey;
    margin-top: -20px;
    margin-bottom: 100px; }
  .sector4 .apple-wrap {
    height: 350px; }
    .sector4 .apple-wrap p {
      margin-bottom: 25px;
      text-align: left; }
    .sector4 .apple-wrap h3 {
      text-align: left;
      margin-bottom: 50px; }
    .sector4 .apple-wrap .watch {
      background: url(img/apple.png);
      width: 307px;
      height: 380px;
      background-size: 100% 100%; }
    .sector4 .apple-wrap button {
      width: 225px;
      border: none;
      background: white;
      color: black;
      height: 45px;
      border-radius: 55px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      margin-top: 75px; }
      .sector4 .apple-wrap button:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8); }
    .sector4 .apple-wrap .wrap-img {
      width: 100px; }
      .sector4 .apple-wrap .wrap-img .img {
        background: url(img/ls4b.png) no-repeat;
        width: 75px;
        height: 75px;
        background-position: 15px 15px;
        background-size: 75px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        margin-bottom: 7px; }
      .sector4 .apple-wrap .wrap-img .img2 {
        background: url(img/ls3b.png) no-repeat;
        width: 75px;
        height: 75px;
        background-position: 15px 15px;
        background-size: 75px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        margin-bottom: 7px; }
      .sector4 .apple-wrap .wrap-img .img3 {
        background: url(img/ls6b.png) no-repeat;
        width: 75px;
        height: 75px;
        background-position: 15px 15px;
        background-size: 75px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        margin-bottom: 7px; }
      .sector4 .apple-wrap .wrap-img .img4 {
        background: url(img/ls4b.png) no-repeat;
        width: 75px;
        height: 75px;
        background-position: 15px 15px;
        background-size: 75px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
      .sector4 .apple-wrap .wrap-img .ter {
        margin-bottom: 25px; }

.sector5 {
  min-height: 960px;
  background: #f5f5f5;
  text-align: center; }
  .sector5 h2 {
    margin-top: 100px;
    font-size: 58px;
    color: #797979; }
    .sector5 h2 span {
      color: #ff5c36; }
  .sector5 p {
    font-size: 12px;
    padding-top: 20px;
    color: grey;
    margin-top: -20px;
    margin-bottom: 100px; }
  .sector5 .un1, .sector5 .un2, .sector5 .un3 {
    height: 450px;
    position: relative;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 1;
    background-color: red; }
    .sector5 .un1:hover, .sector5 .un2:hover, .sector5 .un3:hover {
      opacity: 0.8;
      -moz-opacity: 0.8;
      filter: alpha(opacity=100) black;
      -khtml-opacity: 0.8;
      background-color: #ff5c36; }
      .sector5 .un1:hover .hov, .sector5 .un2:hover .hov, .sector5 .un3:hover .hov {
        display: block; }
      .sector5 .un1:hover .name, .sector5 .un2:hover .name, .sector5 .un3:hover .name {
        display: none; }
    .sector5 .un1 .name, .sector5 .un2 .name, .sector5 .un3 .name {
      width: 260px;
      height: 90px;
      background: white;
      position: absolute;
      left: 15%;
      bottom: -5%; }
      .sector5 .un1 .name span, .sector5 .un2 .name span, .sector5 .un3 .name span {
        font-weight: bold;
        font-size: 23px; }
    .sector5 .un1 .hov, .sector5 .un2 .hov, .sector5 .un3 .hov {
      width: 150px;
      height: 350px;
      margin: 120px auto;
      position: relative;
      display: none; }
      .sector5 .un1 .hov p, .sector5 .un2 .hov p, .sector5 .un3 .hov p {
        margin-bottom: 5px;
        font-size: 17px;
        color: black; }
      .sector5 .un1 .hov .pol1, .sector5 .un2 .hov .pol1, .sector5 .un3 .hov .pol1 {
        height: 8px;
        width: 30px;
        background: grey;
        float: right; }
      .sector5 .un1 .hov .pol2, .sector5 .un2 .hov .pol2, .sector5 .un3 .hov .pol2 {
        height: 8px;
        width: 120px;
        background: #ff5c36; }
      .sector5 .un1 .hov .nm, .sector5 .un2 .hov .nm, .sector5 .un3 .hov .nm {
        font-weight: bold;
        position: absolute;
        bottom: 30px;
        left: 10%; }
        .sector5 .un1 .hov .nm p, .sector5 .un2 .hov .nm p, .sector5 .un3 .hov .nm p {
          color: #ff5c36; }
  .sector5 .un1 {
    background: url(img/face.jpg);
    background-size: 100% 100%; }
  .sector5 .un2 {
    background: url(img/face3.jpg);
    background-size: 100% 100%; }
  .sector5 .un3 {
    background: url(img/face2.jpg);
    background-size: 100% 100%; }

.sector6 {
  min-height: 620px;
  text-align: center; }
  .sector6 h2 {
    margin-top: 100px;
    font-size: 58px;
    color: #797979; }
    .sector6 h2 span {
      color: #ff5c36; }
  .sector6 p {
    font-size: 12px;
    padding-top: 20px;
    color: grey;
    margin-top: -20px;
    margin-bottom: 100px; }
  .sector6 .owl-carousel {
    height: 380px; }
    .sector6 .owl-carousel img {
      width: 105px;
      height: 105px;
      border-radius: 50px;
      margin-bottom: 35px; }
    .sector6 .owl-carousel p {
      margin-bottom: 15px;
      padding-left: 65px;
      padding-right: 65px; }
      .sector6 .owl-carousel p img {
        width: 20px;
        height: 20px;
        margin-bottom: 15px; }

.sector7 {
  height: 205px;
  background: #f5f5f5;
  line-height: 205px; }
  .sector7 img {
    width: 120px;
    height: 40px; }

footer {
  height: 100px;
  background-color: #e7e5e5; }
  footer button {
    margin: 40px auto;
    width: 225px;
    border: none;
    background: white;
    color: black;
    height: 45px;
    border-radius: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  footer span {
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
