*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}
header{
	min-height: 68vh;
	color: #fff;
	position: relative;
	width: 100%;
}
.trio-l{
	width: 0;
	height: 0;
	border-bottom: 100px solid #efeee9; 
	border-right: 600px solid transparent;
	position: absolute;	
	bottom: 0px;
}
.trio-r{
	width: 0;
	height: 0;
	border-bottom: 100px solid #efeee9; 
	border-left: 600px solid transparent;
	position: absolute;
	bottom: 0px;
	right: 0;
}
.loader:before {
  animation: animate 2s infinite linear;
}
 
@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
 
.loader:after {
  animation: animate2 2s infinite linear;
}
 
@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}
.loaderArea {
  background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
 
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
#trigger-overlay{
	width: 50px;
	height: 50px;
	background: url(img/menu.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	border: none;
	position: absolute;
	right: 35px;
	top:35px;
}
a{
	text-decoration: none;
}

footer{
  padding-top: 50px;
  text-align: center;
  background: rgba(247, 94, 37, 1);
  min-height: 32vh;
  z-index: 2;
  color: white;
  font-weight: bold;
}
footer a{
  color: white;
  padding-left: 20px;
}
footer a:hover{
  color: blue;
  text-decoration: none;
  transition: 1s all;
}
footer .fa{
  font-size: 25px;
}
 
footer .ff{
  margin-top: 30px;
}
footer button{
  border:none;
  background: none;
  position: absolute;
  top:-25px;
  right: 0;
}
.wrapp-foo1{
  background: url(img/world.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 150px;
  height: 150px;
}
.copir{
  background: rgba(250, 125, 47, 1);
  height: 40px;
  padding-top: 10px;
}
.portfolio-slider__projects-container .portfolio-projects .project .word, .portfolio-slider__projects-container .portfolio-projects .project .letter {
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
    display: inline-flex;
}
.loader:before {
  animation: animate 2s infinite linear;
}
 
@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
 
.loader:after {
  animation: animate2 2s infinite linear;
}
 
@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}